.header {
  background-color: #0b3c49;
  display: flex;
  align-items: center; }
  .header__img {
    width: 8rem;
    padding-left: 3rem; }
  .header__search {
    border: 0.1rem solid #22BFA0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    width: 15rem;
    height: 1.5rem;
    margin-left: auto;
    margin-right: 4rem;
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem; }

.main {
  background-color: #e0e0e0; }
  .main__events {
    width: 100%; }
  .main__h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    text-align: center;
    color: #22BFA0;
    padding-top: 2rem; }
  .main__p {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 1.5rem; }
  .main__list {
    padding-top: 3rem;
    text-align: center; }
  .main__list-iten {
    width: 40%;
    height: 25%;
    border: 0.1rem solid #0b3c49;
    border-radius: 1%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 1.5rem; }
  .main .event__img {
    width: 100%;
    height: 350px;
    margin-bottom: 1rem; }
  .main .event__date {
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    color: #0b3c49; }
  .main .event__title {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    color: #22BFA0; }
  .main .event__price-full {
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    color: #0b3c49; }
  .main .event__price-half {
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    color: #0b3c49;
    font-size: 1.2rem;
    padding: 0.5rem; }
  .main .event__location {
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    color: #5c5a5a;
    padding: 0.5rem; }
  .main .event__form {
    padding: 1rem; }
  .main .event__quantity-tickets {
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    color: #0b3c49; }
  .main .event__tickets-select {
    margin-right: 1.5rem;
    height: 2.5rem;
    width: 4rem;
    font-size: 1rem;
    color: #5c5a5a;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    text-align: center; }

.summary {
  background-color: white;
  padding: 1rem;
  padding-right: 3rem;
  text-align: end; }
  .summary__title {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    font-weight: bold;
    color: #22BFA0; }
  .summary__box {
    border: 0.1rem solid #0b3c49;
    margin-bottom: 1rem;
    width: 40%;
    margin-left: auto; }
  .summary__list {
    padding: 1.0rem; }
  .summary__list-iten {
    padding-bottom: 0.5rem;
    color: #5c5a5a;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    text-align: start; }
  .summary__total {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: #0b3c49;
    padding-bottom: 1rem; }
  .summary__button {
    background-color: #22BFA0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #0b3c49;
    border: 0.1rem solid #0b3c49;
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold; }
    .summary__button:hover {
      background-color: #0b3c49;
      color: #22BFA0;
      border: 0.1rem solid #22BFA0;
      cursor: pointer; }

.footer {
  background-color: #5c5a5a;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .footer__p {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: bold; }

.form {
  width: 100%;
  padding-left: 2rem; }
  .form__title {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    color: #22BFA0;
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .form__iten {
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    color: #0b3c49;
    font-size: 1.2rem;
    padding: 1.2rem; }
  .form__field-long {
    margin-left: 1rem;
    padding: 0.5rem;
    width: 30rem; }
  .form__field-medium {
    margin-left: 1rem;
    padding: 0.5rem;
    width: 15rem; }
  .form__field-short {
    margin-left: 1rem;
    padding: 0.5rem;
    width: 5rem; }

.card {
  padding: 0.3rem; }
  .card__select {
    width: 1rem;
    vertical-align: baseline; }

.fab {
  font-size: 2.5rem; }

.go-back-button {
  background-color: #0b3c49;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #22BFA0;
  border: 0.1rem solid #22BFA0;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-top: 1rem;
  margin-left: 1.5rem; }
  .go-back-button:hover {
    background-color: #22BFA0;
    color: #0b3c49;
    border: 0.1rem solid #0b3c49;
    cursor: pointer; }

.cancel-button {
  background-color: darkred;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  border: 0.1rem solid #5c5a5a;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-top: 1rem;
  margin-right: 1.5rem; }
  .cancel-button:hover {
    background-color: red;
    cursor: pointer; }

.inline-block {
  display: inline-block; }

/*# sourceMappingURL=style.css.map */
