.footer {
    margin-top:10rem;
    background-color: $darkgrey;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &__p {
        color: $cor-branca;
        font-family: $fonte-principal;
        font-size: 1rem;
        font-weight: bold;
    }
}