.form {
    width: 100%;
    padding-left: 2rem;

    &__titulo {
        font-family: $fonte-principal;
        font-size: 2rem;
        color: $green;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    &__item {
        font-family: $fonte-secundaria;
        font-weight: bold;
        color: $darkblue;
        font-size: 1.2rem;
        padding: 1.2rem;
    }

    &__campo-longo {
        margin-left: 1rem;
        padding: 0.5rem;
        width: 30rem;;
    }

    &__campo-medio {
        margin-left: 1rem;
        padding: 0.5rem;
        width: 15rem;;
    }

    &__campo-curto {
        margin-left: 1rem;
        padding: 0.5rem;
        width: 5rem;;
    }

    &__validade--opcao {
        margin-right: 1.5rem;
        height: 2.5rem;
        width: 4rem;
        font-size: 1rem;
        color: $darkgrey;
        font-family: $fonte-secundaria;
        font-weight: bold;
        text-align: center;
    }

    &__estado--opcao {
        margin-right: 1.5rem;
        height: 2.5rem;
        font-size: 1rem;
        color: $darkgrey;
        font-family: $fonte-secundaria;
        font-weight: bold;
        text-align: center;
    }
}

.cartao {
    padding: 0.3rem;

    &__opcao {
        width: 1rem;
        vertical-align: baseline;
    }
}



.fab {
    font-size: 2.5rem;
}

.inline-block {
    display: inline-block;
}