.main {
    background-color: $lightgrey;

    &__eventos {
        width: 100%;
    }

    &__h1 {
        @extend %fonte-titulo;
        font-size: 2.5rem;
        text-align: center;
        padding-top: 2rem;
    }

    &__p {
        @extend %fonte-informacoes-eventos;
        font-size: 1.2rem;
        text-align: center;
        padding-top: 1.5rem;
    }

    &__lista {
        padding-top: 3rem;
        text-align: center;
    }

    &__lista--item {
        width: 40%;
        height: 25%;
        border: 0.1rem solid $darkblue;
        border-radius: 1%;
        display: inline-block;
	    text-align: center;
        vertical-align: top;
        margin: 1.5rem;
    }

    .evento {
        &__img {
            width: 100%;
            height: 350px;
            margin-bottom: 1rem;
        }

        &__data {
            @extend %fonte-informacoes-eventos;
        }

        &__titulo {
            @extend %fonte-titulo;
            font-size: 1.5rem;
            padding: 1rem;
        }

        &__preco--cheio {
            @extend %fonte-informacoes-eventos;
        }

        &__preco--meia {
            @extend %fonte-informacoes-eventos;
            font-size: 1.2rem;
            padding: 0.5rem;
        }

        &__localizacao {
            font-family: $fonte-secundaria;
            font-weight: bold;
            color: $darkgrey;
            padding: 0.5rem;
        }

        &__form {
            padding: 1rem;
        }

        &__ingressos {
            @extend %fonte-informacoes-eventos;
        }

        &__ingressos--select {
            @extend %estilo-select-formulario;
        }
    }
}