$darkblue: #0b3c49;
$green: #22BFA0;
$darkgrey: #5c5a5a;
$lightgrey: #e0e0e0;
$cor-branca: white;
$fonte-principal: 'Montserrat', sans-serif;
$fonte-secundaria: 'Ubuntu', sans-serif;

@import "header.scss", "main.scss", "resumo.scss", "footer.scss", "formulario.scss", "botoes.scss", "placeholders.scss";