$darkblue: #0b3c49;
$green: #22BFA0;
$darkgrey: #5c5a5a;
$lightgrey: #e0e0e0;
$cor-branca: white;
$fonte-principal: 'Montserrat', sans-serif;
$fonte-secundaria: 'Ubuntu', sans-serif;

.header {
    background-color: $darkblue;
    display: flex;
    align-items: center;

    &__img {
        width: 8rem;
        padding-left: 3rem;
    }

    &__busca {
        border: 0.1rem solid $green;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
        width: 15rem;
        height: 1.5rem;
        margin-left: auto;
        margin-right: 4rem;
        font-family: $fonte-secundaria;
        font-size: 1rem;
    }
}

.main {
    background-color: $lightgrey;

    &__eventos {
        width: 100%;
    }

    &__h1 {
        font-family: $fonte-principal;
        font-size: 2.5rem;
        text-align: center;
        color: $green;
        padding-top: 2rem;
    }

    &__p {
        font-family: $fonte-secundaria;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        padding-top: 1.5rem;
    }

    &__lista {
        padding-top: 3rem;
        text-align: center;
    }

    &__lista--item {
        width: 40%;
        height: 25%;
        border: 0.1rem solid $darkblue;
        border-radius: 1%;
        display: inline-block;
	    text-align: center;
        vertical-align: top;
        margin: 1.5rem;
    }

    .evento {
        &__img {
            width: 100%;
            height: 350px;
            margin-bottom: 1rem;
        }

        &__data {
            font-family: $fonte-secundaria;
            font-weight: bold;
            color: $darkblue;
        }

        &__titulo {
            font-family: $fonte-principal;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 1rem;
            color: $green;
        }

        &__preco--cheio {
            font-family: $fonte-secundaria;
            font-weight: bold;
            color: $darkblue;
        }

        &__preco--meia {
            font-family: $fonte-secundaria;
            font-weight: bold;
            color: $darkblue;
            font-size: 1.2rem;
            padding: 0.5rem;
        }

        &__localizacao {
            font-family: $fonte-secundaria;
            font-weight: bold;
            color: $darkgrey;
            padding: 0.5rem;
        }

        &__form {
            padding: 1rem;
        }

        &__ingressos {
            font-family: $fonte-secundaria;
            font-weight: bold;
            color: $darkblue;
        }

        &__ingressos--select {
            margin-right: 1.5rem;
            height: 2.5rem;
            width: 4rem;
            font-size: 1rem;
            color: $darkgrey;
            font-family: $fonte-secundaria;
            font-weight: bold;
            text-align: center;
        }
    }
}

.resumo {
    background-color: $cor-branca;
    padding: 1rem;
    padding-right: 3rem;
    text-align: end;

    &__titulo {
        font-family: $fonte-principal;
        font-size: 1.5rem;
        padding-bottom: 1rem;
        font-weight: bold;
        color: $green;
    }

    &__caixa {
        border: 0.1rem solid $darkblue;
        margin-bottom: 1rem;
        width: 40%;
        margin-left: auto;
    }

    &__lista {
        padding: 1.0rem;
    }

    &__lista-item {
        padding-bottom: 0.5rem;
        color: $darkgrey;
        font-family: $fonte-secundaria;
        font-weight: bold;
        text-align: start;
    }

    &__total {
        font-family: $fonte-principal;
        font-size: 1.3rem;
        font-weight: bold;
        color: $darkblue;
        padding-bottom: 1rem;
    }

    &__botao {
        background-color: $green;
        padding-left: 1rem;
        padding-right:1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        color: $darkblue;
        border: 0.1rem solid $darkblue;
        font-size: 1.2rem;
        font-family: $fonte-principal;
        font-weight: bold;
        margin-bottom: 4rem;

        &:hover {
            background-color: $darkblue;
            color: $green;
            border: 0.1rem solid $green;
            cursor: pointer;
        }
    }
}

.footer {
    background-color: $darkgrey;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    &__p {
        color: $cor-branca;
        font-family: $fonte-principal;
        font-size: 1rem;
        font-weight: bold;
    }
}

.botao-voltar {
    background-color: $darkblue;
    padding-left: 1rem;
    padding-right:1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: $green;
    border: 0.1rem solid $green;
    font-size: 1.2rem;
    font-family: $fonte-principal;
    font-weight: bold;
    margin-top: 1rem;
    margin-left: 1.5rem;;

        &:hover {
            background-color: $green;
            color: $darkblue;
            border: 0.1rem solid $darkblue;
            cursor: pointer;
        }
}

.form {
    width: 100%;
    padding-left: 2rem;

    &__titulo {
        font-family: $fonte-principal;
        font-size: 2rem;
        color: $green;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    &__item {
        font-family: $fonte-secundaria;
        font-weight: bold;
        color: $darkblue;
        font-size: 1.2rem;
        padding: 1.2rem;
    }

    &__campo-longo {
        margin-left: 1rem;
        padding: 0.5rem;
        width: 30rem;;
    }

    &__campo-medio {
        margin-left: 1rem;
        padding: 0.5rem;
        width: 15rem;;
    }

    &__campo-curto {
        margin-left: 1rem;
        padding: 0.5rem;
        width: 5rem;;
    }

    &__validade--opcao {
        margin-right: 1.5rem;
        height: 2.5rem;
        width: 4rem;
        font-size: 1rem;
        color: $darkgrey;
        font-family: $fonte-secundaria;
        font-weight: bold;
        text-align: center;
    }

    &__estado--opcao {
        margin-right: 1.5rem;
        height: 2.5rem;
        font-size: 1rem;
        color: $darkgrey;
        font-family: $fonte-secundaria;
        font-weight: bold;
        text-align: center;
    }
}

.cartao {
    padding: 0.3rem;

    &__opcao {
        width: 1rem;
        vertical-align: baseline;
    }
}



.fab {
    font-size: 2.5rem;
}

.botao-cancelar {
    background-color: darkred;
    padding-left: 1rem;
    padding-right:1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: $cor-branca;
    border: 0.1rem solid $darkgrey;
    font-size: 1.2rem;
    font-family: $fonte-principal;
    font-weight: bold;
    margin-top: 1rem;
    margin-right: 1.5rem;;

        &:hover {
            background-color: red;
            cursor: pointer;
        }
}

.inline-block {
    display: inline-block;
}